*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
}

html
{
  font-size: 10px;
  font-family: 'SFPro-Regular';
}

a
{

  text-decoration: none;
}

body
{
  background: #FFF;
}

/* OVERLAY */

.container-sections
{
	max-width: 152rem;
    margin: 0 auto;
	padding: 0 2.2rem;
	margin-left: -2.5rem;
}

.container-wrap
{
	max-width: 122rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.close-cta
{
	background: url('../images/icons/cancel/close-icon.svg') no-repeat center;
	display: inline-block;
	line-height: 16px;
	text-align: right;
	right: 0;
	margin-left: 75rem;
	transition: .0s ease all;
	width: 20px;
	height: 20px;
}

.title
{
	padding-top: 5rem;
}

.title-center
{
	padding-top: 5rem;
	text-align: center;
	justify-content: center;
}

.title-left
{
	padding: 5rem 3rem;
	text-align: left;
	justify-content: centers;
}

.title-blur
{
	margin: 2rem;
	padding-top: 1rem;
}

.title-sub-heading
{
	font-size: 19px;
	font-weight: 900;
	margin-bottom: 10px;
	color: #333;
}

.title-sub-heading-mayus
{
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333;
}

.title-sub-heading-minus
{
	font-size: 19px;
	font-weight: lighter;
	margin-bottom: 10px;
	color: #333;
}

.title-sub-heading-extra-minus
{
	font-size: 15.5px;
	font-weight: lighter;
	margin-bottom: 10px;
	color: rgb(104, 104, 104);
}

.title-sub-heading-white
{
	font-size: 19px;
	font-weight: 900;
	margin-bottom: 10px;
	color: #fff;
}

.north-arrow
{
    background: url('../images/icons/arrows/right-arrow.svg') center no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.cta-center
{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 1rem;
}

.cta-left
{
    justify-content: left;
    align-items: left;
    align-content: left;
    text-align: left;
    margin-top: .2rem;
    margin-left: 2rem;
}

.cta-link-blue
{
    font-size: 14px;
    color: #007AFF;
}

.cta-link-white
{
    font-size: 14px;
    color: #ffffff;
}

.cta-link-white:hover
{
    border-bottom: 1px solid #ffffff;
}

.cta-link-blue:hover
{
    border-bottom: 1px solid #007AFF;
}

.cta-link-blue:focus
{
    border: 1px solid #007AFF;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    box-shadow: 0px 0px 7px 0px rgba(0,115,255,0.67);
    border-radius: 5px;
}

.cta-top
{
    margin-top: 2rem;
}


.cta-button-blue
{
	background: rgb(0,155,255);
    background: -moz-linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
    background: linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009bff",endColorstr="#0156cb",GradientType=1);
    width: 250px;
    height: 50px;
    color: #F1F1F1;
    border-radius: 60px;
    border: none;
    font-size: 23px;
	cursor: pointer;
	transition: 0.5s;
}

.cta-button-blue:hover
{
	opacity: 0.5;
}

.title-sub-heading-global
{
	color: #333333;
	font-size: 18px;
}

.title-description-minus
{
    font-size: 16px;
    color: #F1F1F1;
    font-weight: lighter;
    margin-top: 1rem;
}

.title-description
{
    color: #999999;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 1rem;
}

.main-wrappers
{
	padding-left: 25rem;
}

.square-blur-info
{
    margin-top: 12rem;
    position: absolute;
}

.blur-section-info
{
    
    backdrop-filter: blur(2.5rem) opacity(100%);
    -webkit-backdrop-filter: blur(2.5rem) opacity(100%);
    -moz-backdrop-filter: blur(2.5rem) opacity(100%);
    -o-backdrop-filter: blur(2.5rem) opacity(100%);
    -ms-backdrop-filter: blur(2.5rem) opacity(100%);
    width: 260px;
    height: 130px;
    border-radius: 10px;
	margin-left: 1rem;
}

.blur-white
{
    background: rgba(247, 247, 247, 0.3);
}

.blur-black
{
    background: rgba(0, 0, 0, 0.45);
}

.wrapper-initial-section
{
	background: url('../images/wallpaper/credit-initial.png') no-repeat center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.wrapper-credits-section
{
	background: #FFF;
}

.square-box
{
	width: 100%;
	background: rgb(238, 238, 238);
	padding: 1rem 1rem;
	border-radius: 10px;
	margin-top: 2rem;
	height: 25rem;
	display: flex;
}

.image-relevant
{
	margin-left: 11rem;
	margin-top: 7rem;
}

.image-final-relevant
{
	margin-left: 13.5rem;
}

.image-credits-circle-adquired
{
	border-radius: 100px;
	width: 145px;
	height: 145px;
	background: url('../images/wallpaper/credit-adquired.png') center no-repeat;
	background-size: cover;
}

.image-credits-circle-created
{
	border-radius: 100px;
	width: 145px;
	height: 145px;
	background: url('../images/wallpaper/credit-created.png') center no-repeat;
	background-size: cover;
}

/* END MAIN */

.hero
{
  	height: 62.5rem;
	background-size: auto 73.6rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-initial
{
	height: 32.5rem;
	background-size: auto 73.6rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 768px)
{
	.emergent-credit
	{
		width: 450px;
		height: 700px;
		margin-top: -4rem;
	}

	.close-cta
	{
		background: url('../images/icons/cancel/close-icon.svg') no-repeat center;
		display: inline-block;
		line-height: 11px;
		text-align: right;
		right: 0;
		margin-left: 40rem;
		transition: .0s ease all;
		width: 20px;
		height: 20px;
		margin-top: 1rem;
	}

	.main-wrappers
	{
		padding-left: 0rem;
	}

	.square-box
	{
		height: 55rem;
		display: grid;
	}

	.image-relevant
	{
		margin-top: -4rem;
		margin-left: 0rem;
		justify-content: center;
		text-align: center;
	}

	.image-final-relevant
	{
		margin-left: 0rem;
	}

	.hero
	{
		height: 122.5rem;
		background-size: auto 73.6rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

}

@media screen and (max-width: 340px)
{
	.emergent-credit
	{
		width: 350px;
		height: 510px;
		margin-top: -4rem;
	}

	.close-cta
	{
		background: url('../images/icons/cancel/close-icon.svg') no-repeat center;
		display: inline-block;
		line-height: 11px;
		text-align: right;
		right: 0;
		margin-left: 30rem;
		transition: .0s ease all;
		width: 20px;
		height: 20px;
		margin-top: 1rem;
	}


	.title-sub-heading
	{
		font-size: 19px;
		font-weight: 900;
		margin-bottom: 10px;
		color: rgb(255, 255, 255);
	}


	.cta-button-blue
	{
		background: rgb(0,155,255);
		background: -moz-linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
		background: linear-gradient(180deg, rgba(0,155,255,1) 0%, rgba(1,86,203,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009bff",endColorstr="#0156cb",GradientType=1);
		width: 120px;
		height: 40px;
		color: #F1F1F1;
		border-radius: 60px;
		border: none;
		font-size: 18px;
		cursor: pointer;
		transition: 0.5s;
	}

	.blur-section-info
	{
		width: 230px;
		height: 130px;
		border-radius: 10px;
		margin-left: 0rem;
		justify-content: center;
	}

}